/*Reset css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: #181419;
    color:white; 
}
/*
 Header section
*/
.header{
    background-color:#9f3647;
    color:#ffffff;
    height: 15vh;
    position:sticky;
    top: 0;
    z-index:100;
}
.navigation{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left:35px;
    margin-right: 35px;
}
.logo{
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.25rem;
}
.navList{
    list-style: none;
    display: flex;
    align-items: center;
}
.listItem{
    margin-right:25px;
}
.navLink{
    text-decoration: none;
    color:#ffffff;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}
.navLink:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.login{
        background-color: #141114;
        color: white;
        padding: 5px 10px;
        text-decoration: none;
}
.login i{
    display: none;
}
.login:hover {
    background-color: #a43447;
    border: 1px solid #141114;
}
/**

*/
/*ESTILOS HEADER PARA ESCRITORIO*/

/*ESTILOS PARA HEADER MOBILE Y TABLET*/
@media (max-width: 768px) {
.header{
    height: 20vh;
    font-size: 1rem;
}
.header .logo{
    font-size: 2rem;
}
.header .logo b{
    display: none;
}
.navLink{
    font-size: 1rem;
}
.login span{
    display: none;
}
.login i {
    display: inline;
}

.main .trends{
    height: 60vh;
}
.main .title{
    font-size: 2.5rem;
}
.main .subtitle{
    font-size: 1.5rem;
}
.main .register_btn{
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
}
.main .findMovie .findInput{
    font-size: 1rem;
    height: 40px;
    width: 300px;
}
.main .findMovie .findBtn{
    height: 40px;
    padding:0 15px;
    font-size: 1rem;
}
.main .trends{
    width: 95%;
}
.main .trends .movieTitle{
    font-size: 2rem;
}
.main .movies{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .movies a{
    width: 100%;
}
.main .movies .movie{
    width: 100%;
    height: 500px;
   
}
.footer{
    height: initial;
    padding-top:15px;
    padding-bottom: 20px;
}
.footer .navList{
    flex-direction: column;   
    row-gap: 15px; 
}
.footer .navList .navItem .navLink{
    font-size: 1rem;
}
}

/*ESTILOS PARA MAIN ESCRITORIO*/
.main .hero{
    color:white;
    background: url(../assets/img/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main .title{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.main .subtitle{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.register_btn{
    background-color:#9f3647;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 700;
    text-decoration: none;
}
.findMovie{
    background-color: #181419;
    color:white;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.findTitle{
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: .9rem;
}
.findForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.findInput{
    border: 2px solid white;
    border-radius: 25px;
    color: #f18383;
    font-size: 1.2rem;
    height: 50px;
    margin: 20px 0px;
    outline: none;
    padding: 0px 20px;
    width: 500px;
}
.findBtn{
    background-color:#9f3647;
    display: inline-block;
    color:#ffffff;
    height: 50px;
    margin: 20px 10px;
    padding:0 20px;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid white;
    text-align: center;
     /* Agregar efecto de botón presionado */
     transition: transform 0.3s, box-shadow 0.3s;
}
.botonBuscador:hover {
         background-color: #9f3647;
         transform: scale(0.95);
         box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.main .trends{
    width:80vw;
    margin: 0 auto;/*centrar*/
    text-align: center;
    margin-top: 1rem;
}
.main .trendTitle{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.main .movies{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:60px;
}
.main a{
    text-decoration: none;
    color: #ffffff;
}
.main .movie{
    width:200px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.main .movie .movieTitle{
    z-index: 222;
    position: absolute;
    text-align: center;
    bottom: 0;
    max-width: 20rem;
    width: 100%;
    max-height: 20%;
    background-color: #18171780;
    h4 {
        font-size: 1rem;
        font-weight: bold;
        color: #f0d8f0;
        margin-bottom: 0.5rem;
}
}
 .main .btn{
    border: 1px solid white;
    box-sizing: content-box;
    margin-top:50px;
    margin-left:20px;
    background-color:#9f3647;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-bottom:60px;
     /* Agregar efecto de botón presionado */
     transition: transform 0.3s, box-shadow 0.3s;
 }
 .main .btn:hover{
    background-color: #2d2325;
    color: #9f3647;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
 }

/*Section Footer*/
.footer{
    background-color:#9f3647;
    color:#ffffff;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .navList{
        list-style: none;
        display: flex;
        align-items: center;
}
.footer .navList .listItem{
            margin-left:20px;
}
.footer .navList .listItem .navLink{
                text-decoration: none;
                color:#ffffff;
                font-weight: 700;
                font-size: 1.2rem;
            }
.footer .navList .visited{
                background-color: #181419;
                color: white;
                padding: 0.5rem 1rem;
                border-radius: 5px;
            }
.footer   .topArrow{
        position: fixed;
        bottom: 20px;
        right: 20px;
        color: white;
        cursor: pointer;
    }

/*ESTILOS FOOTER CELULAR Y TABLET CHICA*/
@media (max-width: 768px) {
    .footer{
        height: initial;
        padding-top:15px;
        padding-bottom: 20px;
        .listaNav{
            flex-direction: column;
           
            row-gap: 15px;
            .listaItem{
                
                .linkNav{
                    font-size: 1rem;
                }
                .administradorPeliculas{
                    padding: 0.5rem 0.8rem;
                }
            }
        }
    }
}
hr{
    border: 1px solid #9f3647;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}